/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/.idea/modules.xml
.idea/.idea/scopes/scope_settings.xml
.idea/.idea/vcs.xml
.idea/.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
