.navbar-header #spin-dalje{ display: none }
#sponzori{ margin-top:100px }
#sponzori a img{ width:100% }
footer{
    margin-top:70px;
    border-top: solid rgba(216, 216, 216, 0.39) 2px
}
.navbar-default{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(255,255,255,0.9)
}
@media(max-width: 767px){ .container{ padding-top: 80px } }
@media(min-width: 768px){ .container{ padding-top: 160px } }
@media(min-width: 768px) and (max-width: 866px){ .navbar-header .logo{ display: none } }
.container img{ width: 100% }