*{
    font-size: 105%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}
.row .col-xs-3 .img{
    height: 140px;
    overflow: hidden
}
.panel-c{ border-radius: 0 }
.panel-c .panel-body{ padding: 0 }
.panel-c .panel-body img,.tp img,.sponzori img,.row .col-xs-3 .img img,.row .col-xs-3 .img{ width: 100% }
.tp img{ position:absolute }
.tp span{
    position: absolute;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 164, 201,0.8);
    font-weight: bold;
    padding: 5px;
    color:#fff
}
.tp span:hover{
    background-color: rgba(0,0,0,0);
    color:rgba(0,0,0,0)
}
.slides h2{ padding: 20px }
.mlr0{
    padding-left: 0px;
    padding-right: 0px
}
.center{ margin: 0 auto }
body{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Raleway', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden
}
.navbar{
    font-weight: 400;
    font-size: 17px
}
.navbar-default{ background-color: rgba(255,255,255,0.5) }
.navbar-default .navbar-nav>li>a{ color:#464545 }
.navbar-brand{ padding-top: 60px }
#spin-dalje{
    font-size: 250%;
    color: #494A4A;
    cursor: pointer
}
#spin-dalje:hover{ color:#222 }
footer{
    padding:60px 0;
    text-align: center;
    font-size: 80%
}
footer h4,footer p{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0
}
footer .link-tag{ padding: 20px 50px }
footer .kontakt-osoba{
    font-size: 65%;
    font-style: italic
}
.plavo{ color:#1d86c8 }
.plavo:hover{ color: #e9f0f9
}
.slideanim{ visibility:hidden }
.slide{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide{
    0%{
        opacity: 0;
        -webkit-transform: translateY(70%)
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0%)
    }
}
@-webkit-keyframes slide{
    0%{
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media (max-width: 767px){
    .navbar-header .logo img{ margin-top: -45px }
    *{ font-size: 100% }
}
@media (max-width: 980px){ #moj-meni>ul>li:first-child{ display: none } }
@media(min-width: 768px){ .navbar-nav>li>a{ padding:70px 5px } }